@keyframes menu-display {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loading-spinner-bg {
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes loading-spinning {
  0% {
    transform: rotateZ(0turn);
  }
  100% {
    transform: rotateZ(1turn);
  }
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}
a:visited {
  color: #000;
}

* {
  font-family: roboto;
  margin: 0;
}

.btn-purple {
  display: block;
  text-align: center;
  padding: 0.8rem 1rem;
  font-size: 0.8rem;
  color: #fff;
  border-width: 0;
  margin-top: 2rem;
  background: linear-gradient(355deg, #9356DC 35%, #FF79DA 100%);
  border-radius: 30px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1019607843);
  transition: all 200ms ease-in-out;
}
.btn-purple--cde {
  margin-top: 0;
  width: 11rem;
}
.btn-purple:hover {
  opacity: 0.8;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3333333333);
}
.btn-purple:visited {
  color: #fff;
}

.btn-heart {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.btn-heart--full {
  position: relative;
  right: 24px;
  opacity: 0;
  background-image: linear-gradient(195deg, #9356DC 35%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 200ms ease-out;
}
.btn-heart--full:hover {
  opacity: 1;
}

.ctn-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem auto;
}

.loading-spinner {
  animation: loading-spinner-bg 3s forwards;
  color: #99E2D0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #F8F7F7;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner i {
  animation: loading-spinning 1s backwards infinite;
  font-size: 8rem;
}

header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header i {
  font-size: 1.5rem;
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
}
header img {
  display: block;
  width: 10rem;
  justify-self: center;
}

.presentation {
  background-color: #F8F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0;
}
.presentation h1 {
  padding: 0 2.5rem 1rem 2.5rem;
  text-align: center;
  font-size: 1.6rem;
}
.presentation p {
  text-align: center;
  font-weight: 200;
  font-size: 1.1rem;
  padding: 0 1rem;
}

.top-img {
  position: relative;
  z-index: -1;
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
}

.town {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  height: 2.8rem;
  width: 100%;
  box-shadow: inset -2px 5px 10px -8px rgba(0, 0, 0, 0.45);
  text-align: center;
}
.town i {
  margin-right: 20px;
}

.fct {
  padding: 3rem 2rem 2rem 2rem;
}
.fct h2 {
  margin-bottom: 1.6rem;
}
.fct--bg-section {
  background-color: #F8F7F7;
}
.fct__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (min-width: 640px) {
  .fct__list {
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .fct__list {
    flex-direction: row;
    justify-content: space-around;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-fct {
  display: flex;
  align-items: center;
  background-color: #F8F7F7;
  border-radius: 15px;
  height: 4rem;
  width: 95%;
  margin-bottom: 2rem;
  transition: background-color 200ms ease-in-out;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
@media screen and (min-width: 640px) {
  .card-fct {
    max-width: 25rem;
  }
}
@media screen and (min-width: 992px) {
  .card-fct {
    max-width: 18rem;
  }
}
.card-fct__num {
  position: relative;
  right: 0.8rem;
  margin-right: 1.4rem;
  background-color: #9356DC;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
  border-radius: 30px;
}
.card-fct__icon {
  color: #9356DC;
  position: relative;
  right: 0.8rem;
  margin-right: 1.4rem;
}
.card-fct__txt {
  position: relative;
  right: 0.8rem;
  margin-right: 1.4rem;
}
.card-fct:hover {
  background-color: #eee7f4;
}

#rest {
  background-color: #F8F7F7;
  padding: 3rem 1.4rem 2rem 1.4rem;
}
#rest h2 {
  margin-bottom: 1.6rem;
}
#rest__list {
  display: grid;
  gap: 1rem;
  margin: 0 auto 3rem auto;
}
@media screen and (min-width: 640px) {
  #rest__list {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  #rest__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1408px;
  }
}

.card-rest {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.card-rest__new {
  display: none;
}
.card-rest__new--actived {
  float: right;
  margin-left: -5.4rem;
  margin-top: 1rem;
  position: absolute;
  padding: 0.3rem 0.7rem;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.8rem;
  display: inherit;
}
.card-rest__img {
  z-index: 1;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.card-rest__cont-txt {
  float: left;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-rest__cont-txt__txt {
  margin: 0;
  padding: 0.6rem 0.8rem 0.8rem 0.8rem;
  display: flex;
  flex-direction: column;
  line-height: 1.4rem;
  font-size: 0.9rem;
}

.menu {
  background-color: #F8F7F7;
  border-radius: 40px 40px 0 0;
  margin-top: -3rem;
  padding: 1rem 1rem 1rem 1rem;
}
.menu__top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media screen and (min-width: 640px) {
  .menu__top {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .menu__top {
    max-width: 74rem;
  }
}
.menu__top h1 {
  font-family: Shrikhand;
  font-size: 1.7rem;
}
.menu__grid {
  display: grid;
}
@media screen and (min-width: 640px) {
  .menu__grid {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .menu__grid {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 74rem;
    column-gap: 3vw;
  }
}

.menu-section {
  margin: 1.5rem 0 0 0;
  animation: menu-display 1s backwards ease-out;
}
.menu-section h2 {
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
  font-weight: 400;
}
.menu-section h2::after {
  content: "";
  display: block;
  width: 2.5rem;
  margin-top: 0.3rem;
  border-bottom: 2px solid #99E2D0;
}
.menu-section--1 {
  animation-delay: 300ms;
}
.menu-section--2 {
  animation-delay: 600ms;
}
.menu-section--3 {
  animation-delay: 900ms;
}
.menu-section--4 {
  animation-delay: 1200ms;
}

.card-menu {
  display: block;
  background-color: #F8F7F7;
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}
.card-menu__container {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #fff;
  border-radius: 15px;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 80% 20% 0%;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.5s;
}
.card-menu__container:hover {
  cursor: pointer;
  grid-template-columns: 70% 10% 18%;
}
.card-menu__container:hover .card-menu__check i {
  transform: rotate(1turn);
}
.card-menu__txt {
  line-height: 1.3rem;
  display: block;
}
.card-menu__txt h3 {
  display: block;
  text-overflow: ellipsis;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
}
.card-menu__txt p {
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.85rem;
  text-overflow: ellipsis;
}
.card-menu__price {
  align-self: flex-end;
  justify-self: center;
  padding-bottom: 0.2rem;
  text-align: center;
  font-weight: 700;
  width: 2rem;
}
.card-menu__check {
  min-width: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.5rem;
  height: 150%;
  background-color: #99E2D0;
}
.card-menu__check i {
  color: #fff;
  font-size: 1.2rem;
  transform: rotate(0turn);
  transition: all 0.5s;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 1.5rem;
  display: grid;
}
@media screen and (min-width: 640px) {
  footer {
    text-align: center;
  }
}
footer p {
  font-family: Shrikhand;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 1rem;
}
footer ul li {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
footer ul i {
  font-size: 0.7rem;
  margin-right: 0.8rem;
  max-width: 0.4rem;
}
footer ul .footer-link {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
