
// À DÉPLACER DANS LE FICHIER VARIABLE
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-town: #EAEAEA;
$color-bg-sections: #F8F7F7;
$color-bg-footer: #353535;

$logo-size: 10rem;
$left-val-icon: 29vw;
$pos-elem-card-fct: .8rem;
$po-elem-card-fct-space: 1.4rem;

@mixin pos-elem-card-fct {
    position: relative;
    right: $pos-elem-card-fct;
    margin-right: $po-elem-card-fct-space;
}
// img{
//     filter: invert(100%);
// }
body{
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    &:visited{
        color: #000;
    }
}

// h1,h2,span,p, ::placeholder

* {
    font-family: roboto;
    margin: 0;
}

header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    & i{
        font-size: 1.5rem;
        position: absolute;
        left: 1.2rem;
        top: 1.2rem;
    }
    & img{
        display: block;
        width: $logo-size;
        justify-self: center;
    }
}

.town{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-bg-town;
    height: 2.8rem;
    width: 100%;
    box-shadow: inset -2px 5px 10px -8px rgba(0,0,0,0.45);
    text-align: center;
    & i{
        margin-right: 20px;
    }
}

.presentation{
    background-color: $color-bg-sections;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
    & h1{
        padding: 0 2.5rem 1rem 2.5rem;
        text-align: center;
        font-size: 1.6rem;
    }
    & p{
        text-align: center;
        font-weight: 200;
        font-size: 1.1rem;
        padding: 0 1rem;
    }
}

.btn-purple{
    text-align: center;
    padding: .8rem 1rem;
    color: #fff;
    border-width: 0;
    margin-top: 2rem;
    background: linear-gradient(355deg, $color-primary 35%, $color-secondary 100%);
    border-radius: 30px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    transition: all 200ms ease-in-out;
    &:hover{
        opacity: 0.8;
        box-shadow: 0px 3px 15px 0px #00000050;
    } 
}




.fct{
    padding: 3rem 2rem 0 2rem;
    & h2{
        margin-bottom: 2rem;
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}


.card-fct{
    display: flex;
    align-items: center;
    background-color: $color-bg-sections;
    border-radius: 15px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    height: 4rem;
    width: 95%;
    margin-bottom: 2rem;
    transition: background-color 200ms ease-in-out;
    &__num{
        @include pos-elem-card-fct;
        background-color: $color-primary;
        color: #fff;
        font-size: .9rem;
        padding: .2rem .5rem;
        border-radius: 30px;
    }
    &__icon{
        color: $color-primary;
        @include pos-elem-card-fct;
    }
    &__txt{
        @include pos-elem-card-fct;
    }
    &:hover{
        background-color: mix($color-bg-sections, $color-primary, $weight: 90%); 
    }
}






footer{
    background-color: $color-bg-footer; 
    color: #fff;
    padding: 1.5rem;
    
    & p{
        font-family: Shrikhand;
    }
    & ul{
        list-style-type: none;
        padding-left: 0;
        margin-top: 1rem;
        & li{
            font-size: .8rem;
            margin-top: .5rem;
        }
        & i{
            font-size: .7rem;
            margin-right: .8rem;
            max-width: .4rem;
        }
        & .footer-link {
            color: #fff;
        }
    }
}