



.fct{
    @include section;
    &__list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}


.card-fct{
    display: flex;
    align-items: center;
    background-color: $color-bg-sections;
    border-radius: 15px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    height: 4rem;
    width: 95%;
    margin-bottom: 2rem;
    transition: background-color 200ms ease-in-out;
    &__num{
        @include pos-elem-card-fct;
        background-color: $color-primary;
        color: #fff;
        font-size: .9rem;
        padding: .2rem .5rem;
        border-radius: 30px;
    }
    &__icon{
        color: $color-primary;
        @include pos-elem-card-fct;
    }
    &__txt{
        @include pos-elem-card-fct;
    }
    &:hover{
        background-color: mix($color-bg-sections, $color-primary, $weight: 90%); 
    }
}


.rest{
    @include section;
    &__list{
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        display: grid;
    }
}

.card-rest{
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 2rem;
    
    &__new{
        display: none;
        &--actived{
            float: right;
            margin-left: -5.4rem;
            margin-top: 1rem;
            position: absolute;
            padding: .3rem .7rem;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            font-size: .8rem;
            display: inherit;
            
        }
    }
    &__img{
        z-index: 1;
        width: 100%;
        height: 10rem;
        object-fit: cover;
    }
    &__cont-txt{
        float: left;
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__txt{
            margin: 0;
            padding: .6rem .8rem .8rem .8rem;
            display: flex;
            flex-direction: column;
            line-height: 1.4rem;
            font-size: .9rem;
        } 
    }


}


.menu{
    background-color: $color-bg-sections;
    border-radius: 40px 40px 0 0;
    margin-top: -3rem;
    padding: 1rem 1rem 1rem 1rem;
    &__top{
        & h1{
            font-family: Shrikhand;
            font-size: 1.7rem;
        }
        
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}

.menu-section{
    margin: 1.5rem 0 2rem 0;
    & h2{
        margin-bottom: 1rem;
        display: block;
        font-size: 1rem;
        font-weight: 400;
        &::after{
            content: '';
            display: block;
            width: 2.5rem;
            margin-top: .3rem;
            border-bottom: 2px solid $color-tertiary ;
            
        }
    }

}

.card-menu{
    display: block;
    background-color: $color-bg-sections;
    width: 100%;
    text-align: left;
    transition: all .5s;
    margin-bottom: 1rem;

    &__container{
        box-shadow: 0px 3px 15px 0px #0000001A;
        background-color: #fff;
        border-radius: 15px;
        padding: .5rem 0 .5rem 1rem;
        display: grid;
        grid-template-columns: 80% 20% 0%;
        justify-content: space-between;
        overflow: hidden;
        transition: all .5s;
    }
    &__txt{
        line-height: 1.3rem;
        display: block; 
        & h3{
            display: block;
            text-overflow: ellipsis ;
            font-size: 1rem;
            overflow: hidden;
            white-space: nowrap;
            
        }
        & p{
            overflow: hidden;
            white-space: nowrap;
            
            font-size: .85rem;
            text-overflow: ellipsis ;
        }
    }
    &__price{
        align-self: flex-end;
        justify-self: center;
        padding-bottom: .2rem;
        text-align: center;
        font-weight: 700;
        width: 2rem;
    }
    &__check{
        & i{
            color: #fff;
            font-size: 1.2rem;
            // margin-left: 4vw;
            transform: rotate(0turn) ;
            transition: all .5s;
        }  
        min-width: 2.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -.5rem;
        height: 150%;
        background-color: $color-tertiary;
    }
}

