
.ctn-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem auto;
}

.btn-purple{
    display: block;
    text-align: center;
    padding: .8rem 1rem;
    font-size: .8rem;
    color: #fff;
    border-width: 0;
    margin-top: 2rem;
    background: $color-gradient;  
    border-radius: 30px;
    @include box-shadow;
    transition: all 200ms ease-in-out;
    &--cde{
        margin-top: 0;
        width: 11rem;
    }
    &:hover{
        opacity: 0.8;
        box-shadow: 0px 3px 15px 0px #00000055;
    } 
    &:visited{
        color: #fff;
    }
}

.btn-heart{
    font-size: 1.5rem;
    margin-top: 1rem;
    &--full{
        position: relative;
        right: 24px;
        opacity: 0;
        background-image: $color-gradient-return;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;   
        transition: all 200ms ease-out;
        &:hover{
            opacity: 1;

        }
    }
}

