.menu{
    background-color: $color-bg-sections;
    border-radius: 40px 40px 0 0;
    margin-top: -3rem;
    padding: 1rem 1rem 1rem 1rem;
    height: 100%;
    &__top{
        @include pad{
            max-width: 40rem;
            margin-left: auto;
            margin-right: auto;
        }
        @include desktop{
            max-width: 74rem;
        }
        & h1{
            font-size: 1.7rem;
        }
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    &__grid{
        display: grid;
        
        @include pad{
            max-width: 40rem;
            margin-left: auto;
            margin-right: auto;
        }
        @include desktop{
            max-width: 74rem;
            column-gap: 3vw;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        }
    }
    
}

.menu-section{
    margin: 1.5rem 0 0 0;
    @include desktop{
        // max-width: 90%;
    }
    & h2{
        margin-bottom: 1rem;
        display: block;
        font-size: 1rem;
        font-weight: 400;
        &::after{
            content: '';
            display: block;
            width: 2.5rem;
            margin-top: .3rem;
            border-bottom: 2px solid $color-tertiary ;
            
        }
    }
    animation: menu-display $anim-menu-duration backwards ease-out;
    // ANIMATION AVEC POUR CHACUNE DES SECTIONS, UN DÉLAI QUI S'INCRÉMENTE
    @for $i from 1 through 4{
        &--#{$i}{
            animation-delay: $anim-menu-delay*$i;
        }
    }

}

.card-menu{
    display: block;
    background-color: $color-bg-sections;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
    &__container{
        @include box-shadow;
        background-color: #fff;
        border-radius: 15px;
        padding: .5rem 0 .5rem 1rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 80% 20% 0%;
        justify-content: space-between;
        overflow: hidden;
        // ANIMATION TOTALE
        transition: all .5s;
        &:hover{
            cursor: pointer;
            // ANIMATION DE LA GRILLE
            grid-template-columns: 70% 10% 18%; 
            // ANIMATION DU LOGO CHECK 
            .card-menu__check i{
                transform: rotate(1turn);
            }
        } 
    }
    &__txt{
        line-height: 1.3rem;
        display: block; 
        & h3{
            display: block;
            text-overflow: ellipsis ;
            font-size: 1rem;
            overflow: hidden;
            white-space: nowrap;
        }
        & p{
            // OVERFLOW ET WHITE-SPACE OBLIGATOIRE POUR FORCER
            // LE TEXTE À CRÉER UNE "COLISION" AVEC SON CONTENEUR
            overflow: hidden;
            white-space: nowrap;
            font-size: .85rem;

            // ELLIPSIS NE FONCTIONNE PAS SI SON CONTENEUR OU LUI MÊME
            // EST UN DISPLAY FLEX CAR LA COLISION NE SE FERA PAS
            text-overflow: ellipsis ;
        }
    }
    &__price{
        align-self: flex-end;
        justify-self: center;
        padding-bottom: .2rem;
        text-align: center;
        font-weight: 700;
        width: 2rem;
    }
    &__check{
        & i{
            color: #fff;
            font-size: 1.2rem;
            transform: rotate(0turn) ;
            transition: all .5s;
        }  
        min-width: 2.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -.5rem;
        height: 150%;
        background-color: $color-tertiary;
    }
 
}

