@mixin pos-elem-card-fct {
    position: relative;
    right: $pos-elem-card-fct;
    margin-right: $po-elem-card-fct-space;
}

@mixin box-shadow{
    box-shadow: 0px 3px 15px 0px $color-shadow;
}

@mixin section{
    padding: 3rem 1.4rem 2rem 1.4rem;
    &--bg-section{
        background-color: $color-bg-sections;
    }
}

@mixin alignement-h2-section{
    & h2{
        max-width: (map-get($breakpoints, pad)*2.2);
        margin: auto auto 1.6rem auto;
    }
}

@mixin pad{
    @media screen and (min-width: map-get($breakpoints , pad)) {
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width: map-get($breakpoints , desktop)) {
        @content;
    }
}

