$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg-town: #EAEAEA;
$color-bg-sections: #F8F7F7;
$color-bg-footer: #353535;

$color-gradient:linear-gradient(355deg, $color-primary 35%, $color-secondary 100%);
$color-gradient-return:linear-gradient(195deg, $color-primary 35%, $color-secondary 100%);

$color-shadow: #0000001A;

$logo-size: 10rem;
$left-val-icon: 29vw;
$pos-elem-card-fct: .8rem;
$po-elem-card-fct-space: 1.4rem;

$anim-menu-duration: 1s;
$anim-menu-delay: 300ms;

$anim-loading-duration: 3s;

$breakpoints: ( pad:640px, desktop:992px);