$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-town: #EAEAEA;
$color-bg-sections: #F8F7F7;
$color-bg-footer: #353535;
$color-gradient:linear-gradient(355deg, $color-primary 35%, $color-secondary 100%);

$logo-size: 10rem;
$left-val-icon: 29vw;
$pos-elem-card-fct: .8rem;
$po-elem-card-fct-space: 1.4rem;